Exercise 1: Make an empty list and call it names

In [9]:
names = []
print(names)

[]

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [10]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

In [ ]:
# Could've also just appended:
#names.append("Hannah")
#names.append("Victor")
#names.append("Sam")
#names.append("James")
#names.append("Sarah")
#print(names)

Exercise 3: Make names sort in reverse. Print out the list using a for-loop

In [12]:
names.sort(reverse=True) #must add the optional argument in the parentheses.  Otherwise, it would just sort in alpha order.
print(names)

['Victor', 'Sarah', 'Sam', 'James', 'Hannah']

In [19]:
counter = 0 
for name in names:
    print(name)
    counter += 1

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [13]:
names.sort() #sort alphabetically 
amt_of_names = len(names)
i = 0
while i < amt_of_names: # if amount = 3, it will loop through 0, 1, 2
    print(names[i])
    i += 1 #important in order to avoid infinite loop

Hannah
James
Sam
Sarah
Victor

Exercise 5: Pull out the fourth item from names and print it out

In [14]:
item = names.pop(3)
print(item)

Sarah

Exercise 6: Pull out the first item from names and print it out

In [45]:
item = names.pop(0)
print(item)

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [15]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruit_list = fruits.split(",")
print(fruits)

Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit

Exercise 8: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [10]:
for x in range(1,11):
    print(x**2)

1
4
9
16
25
36
49
64
81
100

Exercise 9: Create a multiplication table from 1 to 10

In [14]:
for x in range(1,11):
    print(f"1*{x}={x*1}")
    print(f"2*{x}={x*2}")
    print(f"3*{x}={x*3}")
    print(f"4*{x}={x*4}")
    print(f"5*{x}={x*5}")
    print(f"6*{x}={x*6}")
    print(f"7*{x}={x*7}")
    print(f"8*{x}={x*8}")
    print(f"9*{x}={x*9}")
    print(f"10*{x}={x*10}")

1*1=1
2*1=2
3*1=3
4*1=4
5*1=5
6*1=6
7*1=7
8*1=8
9*1=9
10*1=10
1*2=2
2*2=4
3*2=6
4*2=8
5*2=10
6*2=12
7*2=14
8*2=16
9*2=18
10*2=20
1*3=3
2*3=6
3*3=9
4*3=12
5*3=15
6*3=18
7*3=21
8*3=24
9*3=27
10*3=30
1*4=4
2*4=8
3*4=12
4*4=16
5*4=20
6*4=24
7*4=28
8*4=32
9*4=36
10*4=40
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
6*5=30
7*5=35
8*5=40
9*5=45
10*5=50
1*6=6
2*6=12
3*6=18
4*6=24
5*6=30
6*6=36
7*6=42
8*6=48
9*6=54
10*6=60
1*7=7
2*7=14
3*7=21
4*7=28
5*7=35
6*7=42
7*7=49
8*7=56
9*7=63
10*7=70
1*8=8
2*8=16
3*8=24
4*8=32
5*8=40
6*8=48
7*8=56
8*8=64
9*8=72
10*8=80
1*9=9
2*9=18
3*9=27
4*9=36
5*9=45
6*9=54
7*9=63
8*9=72
9*9=81
10*9=90
1*10=10
2*10=20
3*10=30
4*10=40
5*10=50
6*10=60
7*10=70
8*10=80
9*10=90
10*10=100

Exercise 10: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [1]:
answer = "y"
counter = 0
total = 0
while answer != "n":
    score = int(input("Enter your test score: "))
    answer = input("Do you have another test score? (y/n) ")
    counter += 1
    total = total + score
    
    print(f"Test Score: {score}")
    
    average = total/counter
    
    print(f"Average Score: {average}")
    
print("Done!")

Enter your test score: 90
Do you have another test score? (y/n) y
[90]
Test Score: 90
Average Score: 90.0
Enter your test score: 100
Do you have another test score? (y/n) y
[100]
Test Score: 100
Average Score: 95.0
Enter your test score: 85
Do you have another test score? (y/n) n
[85]
Test Score: 85
Average Score: 91.66666666666667
Done!

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [ ]:
movies = ["Carlito's Way", "A Bronx Tale", "Good Will Hunting", "Body of Lies", "Gladiator"]